.dataTableContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.filterContainer {
    width: 90%;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column
}

.filterInput {
    width: 100%;
	display: flex;
    align-items: center;
    gap: 50px;
}

.filterBox {
	width: 100%;
	min-height: 50px;
	display: flex;
    flex-wrap: wrap;
	gap: 5px;
}

.filterBoxItem {
	box-shadow: 1px 1px 1px black;
	border-radius: 5px;
	background-color:#1976d2;
    color: white;
	min-width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2px 1px;
	padding: 5px 15px;
}

.tablePaper {
    width: 90%;
}
.tableContainer{
    height: 500px;
}

.tableHeadCell {
	font-weight: bold;
	font-size: 15px;
}

.deleteButton {
	display: flex;
	gap: 20px;
}
