.container {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.wrapper {
	display: flex;
	justify-content: center;
}

.innerContainer {
	display: flex;
	margin: 40px;
	width: 90%;
	justify-content: space-between;
	height: 950px;
	align-items: flex-start;
}

.leftColumn {
	width: 60%;
	padding-bottom: 30px;
}

.rightColumn {
	width: 35%;
	height: 100%;
}
